@font-face {
  font-family: 'HeyWow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/HeyWow-Book.woff2') format('woff2');
}
@font-face {
  font-family: 'HeyWow';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/HeyWow-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'HeyWow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/HeyWow-Bold.woff2') format('woff2');
}
